.reviews{
    padding: 60px 0;
    position: relative;

    @media (max-width: 992px){
        padding: 30px 0;
    }

    &__pagination{
        position: relative;
        bottom: 0 !important;
        margin-top: 32px;

        @media (max-width: 992px){
            margin-top: 16px;
        }

        .swiper-pagination-bullet{
            background: #0C6DFA;
            width: 9px;
            height: 9px;
            vertical-align: middle;
            transition: .2s;

            &:last-child, &:first-child{
                width: 5px;
                height: 5px;
            }

            &.swiper-pagination-bullet-active{
                width: 9px;
                height: 9px;
            }
        }
    }

    &__item{
        border: 2px solid #E9F1FA;
        border-radius: 24px;
        padding: 32px;
        min-height: 294px;

        @media (max-width: 992px){
            padding: 24px 16px;
        }
        &-top{
            display: grid;
            grid-template-columns: 45px 1fr;
            gap: 24px;
            align-items: center;
            margin-bottom: 24px;

            @media (max-width: 992px){
                grid-template-columns: 32px 1fr;
                gap: 38px;
                margin-bottom: 16px;
            }

        }
        &-ava{
            width: 46px;
            height: 46px;
            border-radius: 100px;
            border: 1px solid #0C6DFA;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Prompt';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            display: flex;
            align-items: center;
            text-align: center;

            /* blue primary */

            color: #0C6DFA;

            @media (max-width: 992px){
                font-size: 20px;
                line-height: 30px;
                width: 32px;
                height: 32px;
            }
        }

        &-info{
            display: grid;
            gap: 16px;

            @media (max-width: 992px){
                gap: 12px;
            }

            h5{
                @include promt-semibold;
                color: $main;

                @media (max-width: 992px){
                    font-size: 16px;
                    line-height: 130%;
                }
            }
            p{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: $secondary;
                opacity: 0.7;

                @media (max-width: 992px){
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }

        &-content{
            p{
                @include gilroy-lines;
                color: $main;

                @media (max-width: 992px){
                    font-size: 13px;
                    line-height: 180.5%;
                }
            }
        }
    }


    &__navigation{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 32px;
        max-width: 128px;
        position: absolute;
        top: 11px;
        right: 0;

        @media (max-width: 992px){
            top: 10px;
            right: 16px;
            gap: 24px;
        }
    }

    &__prev, &__next{
        cursor: pointer;
        transition: .2s;

        &:hover{
            opacity: .4;
        }
        img{
            pointer-events: none;
            user-select: none;

            @media (max-width: 992px){
                width: 24px;
            }
        }
    }

}